# Dependências
/node_modules

# Build / saída do Nest
/dist
/.turbo
/.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Cobertura de testes
/coverage
/.nyc_output

# Env / segredos
.env
.env.*.local

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDE / Editor
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Outras coisas geradas
*.tsbuildinfo
